.menu-single {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: #485966;
    cursor: pointer;
    margin-top: 20px;
}

.active{
    color: #3498db;
    border-left: 4px solid #3498db;
    padding-left: 55px;
    margin-left: -60px;
}

