.line-chart {
    height: 97%;
    width: 49%;
    margin-right: 15px;
    border: 1px solid #19313d;
}


.doughnut-chart {
    align-self: center;
    width: 500px;
    height: 196px;
    /* margin-right: 15px; */
    /* border: 1px solid #19313d; */
    position: relative;
    /* padding: 16px; */
    font-family: Montserrat;
}

.doughnut {
    position: absolute;
    top: 9%;
    left: 50%;
}


.position {
    position: relative;
}
.position1 {
    top: 23px;
}
.position2 {
    top: 39px;
    left: 4px;
}
.position3 {
    top: 86px;
}

.position img {
    position: absolute;
}


.first {
    top: -5px;
    right: 77px;
}


.second {
    top: -5px;
    right: 50px;
}


.third {
    right: 60px;
}


.shape1 {
    top: 0px;
    left: 83px;
    width: 15%;
}

.shape2 {
    left: 158px;
    width: 52%;
}


.shape3 {
    right: 58px;
    width: 20%;
}


.shape4 {
    bottom: -27px;
    left: 165px;
    width: 36%;
}


.shape5 {
    right: 67px;
    top: 4px;
    width: 36%;
}


.info {
    position: absolute;
    font-family: Montserrat;
    line-height: 1.5;
}


.info-text {
    text-transform: uppercase;
    font-size: 11px;
    color: rgba(79, 83, 98, 255);
    text-align: right;
}


.info-num {
    font-size: 24px;
    color: rgba(168, 172, 185, 255);
    text-align: right;
}


.info1 {
    left: 6px;
    top: 0px;
}


.info2 {
    left: 87px;
    top: 5px;
}

.info3 {
    left: 178px;
    top: -17px;
}

.title {
    padding: 25px;
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}