#chart{
    width: 100%;
}
.main-page{
    overflow: hidden;
    width: 100%;
    background-color: #122a37;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.main-chart-container{
    overflow: hidden;
    border: 1px solid #2c404d;
    width: 95%;
    padding: 15px;
    margin: 15px;
}
.chart{
    width: 100%;
    height: 100%;
}
.main-chart-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-chart-head>h2{
    color: #dedfe1;
    font-size: 24px;
}
.main-chart-filter{
    width: 310px;
    display: flex;
    align-items: center;justify-content: space-between;
}
.filter-button{
    outline: none;
    background: none;
    color: #6e7682;
    border: none;
    font-size: 14px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.filter-button:hover{
    color: #a8acb9;
    border-bottom: 2px solid #3498db;
}

.bottom-charts-container{
    height: 326px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.responsive-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 97%;
    width: 50%;
    border: 1px solid #19313d;
}

/*@media only screen and (max-width: 1200px) {*/
/*    .doughnut-chart {*/
/*        transform: scale(0.9);*/
/*    }*/
/*    .title {*/
/*        padding: 18px;*/
/*    }*/
/*    .line-chart,*/
/*    .responsive-container{*/
/*        height: 80%;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 1080px) {*/
/*    .doughnut-chart {*/
/*        transform: scale(0.75);*/
/*    }*/
/*    .title {*/
/*        padding: 10px;*/
/*    }*/
/*    .line-chart,*/
/*    .responsive-container{*/
/*        height: 70%;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 980px) {*/
/*    .bottom-charts-container{*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        justify-content: space-around;*/
/*    }*/
/*    .line-chart {*/
/*        width: 100%;*/
/*        height: 400px;*/
/*        margin-right: 0;*/
/*    }*/
/*    .responsive-container {*/
/*        width: 100%;*/
/*        height: 400px;*/
/*        margin-top: 15px;*/
/*    }*/
/*    .bottom-charts-container {*/
/*        height: 645px;*/
/*    }*/
/*    .doughnut-chart {*/
/*        transform: scale(1);*/
/*    }*/
/*    .nav-bar-first-container {*/
/*        margin-left: 15px;*/
/*    }*/
/*    .main-chart-head>h2 {*/
/*        color: #dedfe1;*/
/*        font-size: 20px;*/
/*    }*/
/*    .avatar {*/
/*        display: none;*/
/*    }*/
/*    .nav-bar-second-container {*/
/*        justify-content: center;*/
/*    }*/
/*    .nav-bar-left {*/
/*        display: none;*/
/*        !*justify-content: flex-start;*!*/
/*    }*/

/*    !*.logo {*!*/
/*    !*    margin: 25px;*!*/
/*    !*}*!*/
/*    !*.three-dots {*!*/
/*    !*    margin: 5px auto;*!*/
/*    !*}*!*/
/*    !*.menu-single {*!*/
/*    !*    margin: 15px 0;*!*/
/*    !*}*!*/
/*    !*.active {*!*/
/*    !*    padding-left: 58px;*!*/
/*    !*    margin-left: -58px;*!*/
/*    !*}*!*/
/*    .burger-menu-big-size{*/
/*        display: none;*/
/*    }*/
/*}*/

/*@media only screen and (max-width: 540px){*/
/*    .nav-bar-top {*/
/*        flex-direction: column;*/
/*    }*/
/*    .nav-bar-first-container {*/
/*        margin: 0 15px;*/
/*        order: 2;*/
/*        width: 95%;*/
/*    }*/
/*    .search-container {*/
/*        width: 100%;*/
/*        margin: 0;*/
/*    }*/
/*    .nav-bar-second-container {*/
/*        justify-content: flex-start;*/
/*        width: 95%;*/
/*    }*/
/*    .drop-down-container {*/
/*        width: 100%;*/
/*    }*/
/*    .drop-down{*/
/*        width: 100%;*/
/*    }*/
/*    .main-chart-head>h2 {*/
/*        font-size: 14px;*/
/*    }*/
/*    .main-chart-filter {*/
/*        width: 125px;*/
/*        flex-direction: column;*/
/*        align-items: flex-end;*/
/*    }*/
/*    .doughnut-chart {*/
/*        transform: scale(0.75);*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 400px){*/
/*    .doughnut-chart {*/
/*        transform: scale(0.6);*/
/*    }*/
/*    .line-chart {*/
/*        height: 170px;*/
/*    }*/
/*    .responsive-container {*/
/*        height: 220px;*/
/*    }*/
/*    .bottom-charts-container {*/
/*        height: 450px;*/
/*    }*/
/*}*/