.logo{
    margin: 35px 45px;

}
.nav-bar-left{
    width: 160px;
    height: 100%;
    border-right: 1px solid #19313d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.three-dots{
    height: 5px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px auto;
}
.dot-single{
    height: 5px;
    width: 5px;

    background-color: #314552;
    border-radius: 50%;
}