.nav-bar-top{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #19313d;
}
.nav-bar-first-container{
    display: flex;
    margin-left: 40px;
    width: 255px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
.burger-menu-big-size > div {
    width: 30px;
    height: 4px;
    background-color: #8a929f;
    margin: 6px 0;
}

.search-container {
    height: 18px;
    margin-left: 30px;
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #304451;
    display: flex;
    align-items: center;
}

.search {
     width: 100px;
     padding-left: 15px;
     background-color: transparent;
     border: 0;
     outline: 0;
     color: white;
     font-size: 15px;
     box-sizing: border-box;
     font-family: 'Open Sans';
 }
.ui.icon.input>i.icon:not(.link)    {
    margin-left: 10px;
}

.nav-bar-second-container{
    display: flex;
    align-items: center;
    width: 430px;
    height: 60px;
}
.icon-container{
    margin-left: 20px;
    position: relative;
}
.icon-element {
    color: white;
    background-color: orangered;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 3px solid #122a37;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    position: absolute;
    top: 0px;
    left: 16px;
}
.avatar >img {
    border: 4px solid #2a5067;
    border-radius: 50%;
}
.avatar::after {
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #5d6b78;
    top: 30px;
    left: 80px;
}
.drop-down-container {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #304451;
    display: flex;
    align-items: center;
}
.drop-down {
     width: 100px;
     margin-left: 10px;
     background-color: transparent;
     border: 0;
     outline: 0;
     font-size: 15px;
     color: #6c7885;
     font-family: 'Open Sans';
     cursor: pointer;

}
.img-avatar{
    border-radius: 50%;
}