.burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 9999;
  background: #19313d;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 1px 4px #a8acb9;
}

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

/* Menu */

.menu {
  width: 100%;
  display: block;
  text-align: center;
  padding: 0px;
}
.menu ul {
  position: relative;
  top: 0px;
  font-size: 24px;
  padding: 0px;
}
.menu li {
  list-style: outside none none;
  margin: 10px auto;
  padding: 0;
  cursor: pointer;
}
.menu li:hover {
  color: #3498db;
}

.popup-overlay{
color: #8a929f;
}
.drop-down-menu-link{
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  width: 215px;
}

.drop-down-menu-link > p{
  width: 155px;
}
.drop-down-menu-link >div{
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}