p{
  margin: 0;
}

.App{
  display: flex;
    height: 100%;
    width: 100%;

    background-color: #122a37;
}

.burger-menu{
  display: none;
}



@media only screen and (max-width: 980px) {
  .burger-menu{
    display: inline-block;

  }
  .burger-menu .bar1, .bar2, .bar3 {
    background-color: #8a929f;
  }

}
