@media only screen and (max-width: 1200px) {
    .doughnut-chart {
        transform: scale(0.9);
    }
    .title {
        padding: 18px;
    }
    .line-chart,
    .responsive-container{
        height: 80%;
    }
}

@media only screen and (max-width: 1080px) {
    .doughnut-chart {
        transform: scale(0.75);
    }
    .title {
        padding: 10px;
    }
    .line-chart,
    .responsive-container{
        height: 70%;
    }
}

@media only screen and (max-width: 980px) {
    .bottom-charts-container{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .line-chart {
        width: 100%;
        height: 400px;
        margin-right: 0;
    }
    .responsive-container {
        width: 100%;
        height: 400px;
        margin-top: 15px;
    }
    .bottom-charts-container {
        height: 645px;
    }
    .doughnut-chart {
        transform: scale(1);
    }
    .nav-bar-first-container {
        margin-left: 15px;
    }
    .main-chart-head>h2 {
        color: #dedfe1;
        font-size: 20px;
    }
    .avatar {
        display: none;
    }
    .nav-bar-second-container {
        justify-content: center;
    }
    .nav-bar-left {
        display: none;
        /*justify-content: flex-start;*/
    }

    /*.logo {*/
    /*    margin: 25px;*/
    /*}*/
    /*.three-dots {*/
    /*    margin: 5px auto;*/
    /*}*/
    /*.menu-single {*/
    /*    margin: 15px 0;*/
    /*}*/
    /*.active {*/
    /*    padding-left: 58px;*/
    /*    margin-left: -58px;*/
    /*}*/
    .burger-menu-big-size{
        display: none;
    }
}

@media only screen and (max-width: 540px){
    .nav-bar-top {
        flex-direction: column;
    }
    .nav-bar-first-container {
        margin: 0 15px;
        order: 2;
        width: 95%;
    }
    .search-container {
        width: 100%;
        margin: 0;
    }
    .nav-bar-second-container {
        justify-content: flex-start;
        width: 95%;
    }
    .drop-down-container {
        width: 100%;
    }
    .drop-down{
        width: 100%;
    }
    .main-chart-head>h2 {
        font-size: 14px;
    }
    .main-chart-filter {
        width: 125px;
        flex-direction: column;
        align-items: flex-end;
    }
    .doughnut-chart {
        transform: scale(0.75);
    }
}
@media only screen and (max-width: 400px){
    .doughnut-chart {
        transform: scale(0.6);
    }
    .line-chart {
        height: 170px;
    }
    .responsive-container {
        height: 220px;
    }
    .bottom-charts-container {
        height: 450px;
    }
}